<h3 style="text-align: center;"> View Event Details</h3><br><br>
<div style="text-align: center;">
    <div>
        <label> <b> Event Id: </b></label> {{event.eventId}}
    </div>
    <div>
        <label> <b> Event Name: </b></label> {{event.eventName}}
    </div>

    <div>
        <label> <b> Event Cost:</b></label> {{event.eventCost}}
    </div>

    <div>
        <label> <b> Location:</b></label> {{event.location}}
    </div>
    
    <div>
        <label> <b> FromDate&Time</b></label> {{event.fromDateTime}}
    </div>
    
    <div>
        <label> <b> ToDate&Time:</b></label> {{event.toDateTime}}
    </div>
    <div>

        <label> <b> Quantity: </b></label> {{event.quantity}}
    </div>
    <div>
        <label> <b> Discount: </b></label> {{event.discount}}
    </div>
    <!-- <div>
        <label> <b> Discount Type: </b></label> {{event.discountType}}
    </div> -->

</div>
