<!-- <h1 style="text-align: center; " >Billing Section</h1><br><br> -->
<h4 style="left: 30px;">Scanner :</h4><img style="width: 300px; align-items: center; right: 90px;" src=" ../../assets/3.jpg" class=" img1"><BR>
    <H2 style="text-align:left; color: brown;">OR</H2><br><br>
<h1><img style="width: 100px; align-items: center; right: 2px; color: black;" src=" ../../assets/4.jpg" class=" img1">Payment Through Cards</h1><hr color="black">
Card Number :<input type="text"  placeholder="Required"><br><br>
Expiration Date :<input type="text" placeholder="mm/yyyy">&nbsp;
CVV :<input type="text" placeholder="4 digits"><br><br><br>
Postal COde :<input type="text" placeholder="Number"><br><br>
<button>Submit</button>


